html {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.margin-right {
  margin-right: 5pt;
}

.margin-top {
  margin-top: 5pt;
}
